body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}

#imageContainer {
    margin-top: 20px;
}

.highlight {
    border: "2px solid blue"; /* 強調表示時のボックス枠線色 */
}

.text-block {
    margin-left: 20px;
    cursor: pointer;
}

.text-item {
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.text-item:hover {
    background-color: #f0f0f0;
}
